<h1> Hi there, <%=userName%> </h1> 

<h1>
    Check out this website! 
</h1>

<h2> My name is Greyson Holmes and this is my november project. </h2>

<p> 
    Input your username to see ejs pass input into the site
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>Enter Name Here:</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>

